<div class="article">
  <div>
    <div class="flex flex-col space-y-1.5 mb-4">
      <h2 class="title tracking-tight text-2xl font-bold"></h2>
      <div class="flex">
        <p class="company text-sm text-gray-400"></p>
        <span class="text-sm mx-2 text-gray-400">•</span>
        <p class="author text-sm text-gray-400 cursor-pointer hover:underline hover:underline-offset-1"></p>
      </div>
    </div>
    <div class="aspect-video mb-6 overflow-hidden rounded-lg">
      <img class="image w-full object-cover hidden" />
    </div>
    <div class="p-4 pt-0">
      <p class="description text-lg font-medium text-primary-darkest mb-4"></p>
      <div class="full-content"></div>
    </div>
  </div>
</div>
