<div class="article shadow-sm overflow-hidden cursor-pointer bg-sf-background border-radius border border-color transition-transform duration-300 hover:scale-105">
  <img class="image aspect-video overflow-hidden" />
  <div class="flex flex-col space-y-1.5 p-4">
    <h2
      class="title line-clamp-2 text-xl font-semibold tracking-tight"
    ></h2>
    <p class="company text-sm text-gray-400"></p>
  </div>
  <div class="p-4 pt-0">
    <p class="description line-clamp-3 text-sm text-gray-400"></p>
    <div class="full-content" style="display: none"></div>
  </div>
</div>
